/App.class
/CampCommittee.class
/CampInfo.class
/CampList.class
/CreateNewCamp.class
/ExcelReader.class
/Faculty.class
/GetStaff.class
/Login.class
/Staff.class
/StaffData.class
/Student.class
/StudentData.class
/User.class
/UserInput.class
/test.class
/GenerateReport.class
